@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  text-align: center;
}

body {
    background-color: #000000;
}

.signUp, .signIn{
    background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%);
    background-repeat: no-repeat;
}

.index #hero {
    width: 100%;
    height: 80vh;
    background: #37517e;
    /*background-image: -webkit-linear-gradient(30deg, #013A6B 50%, #004E95 50%);*/
    background-image:-webkit-linear-gradient(30deg, transparent 50%, #004E95 50.2%), url('https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?w=2000&t=st=1697910378~exp=1697910978~hmac=98e0b09951c69e45508c58cdb197b702869f66f452d7acb0844681a2fa521c2b');
}
  
.index #hero .container {
  padding-top: 70px;
}
  
.index  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}
  
.index #hero h2 {
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
}

.index #hero img {
    width: 100%; /* Set the width to 100% of its container */
    max-width: 400px; /* Set a maximum width if needed */
    height: auto; /* Maintain the aspect ratio */
}
  
.index #hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}
  
@media (max-width: 991px) {
    .index #hero {
      height: 100vh;
      text-align: center;
      background-image:-webkit-linear-gradient(30deg, transparent 50%, #004E95 50.2%), url('https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?w=2000&t=st=1697910378~exp=1697910978~hmac=98e0b09951c69e45508c58cdb197b702869f66f452d7acb0844681a2fa521c2b');
      background-size: cover;
    }
  
    .index  #hero .animated {
      animation: none;
    }
  
    .index #hero .hero-img {
      text-align: center;
    }
  
    .index #hero .hero-img img {
      width: 50%;
    }
}
  
@media (max-width: 768px) {
    .index #hero {
      background-image:-webkit-linear-gradient(30deg, transparent 50%, #004E95 50.2%), url('https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg?w=2000&t=st=1697910378~exp=1697910978~hmac=98e0b09951c69e45508c58cdb197b702869f66f452d7acb0844681a2fa521c2b');
      background-size: cover;
    }

    .index #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  
    .index #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  
    .index #hero .hero-img img {
      width: 70%;
    }
}
  
@media (max-width: 575px) {
    .index #hero .hero-img img {
      width: 80%;
    }
}
  
@keyframes up-down {
    0% {
      transform: translateY(10px);
    }
  
    100% {
      transform: translateY(-10px);
    }
}